/* datasets.html css */

#choose-dataset-wrapper {
	margin-top: 200px;
	text-align: center;
}

.choose-dataset, .upload-dataset {
	display: inline-block;
}

.choose-dataset-label {
	float:left;
	margin:10px;
	margin-top:8px;
}

.dataset-options {
	float:left;
	margin:10px;
}

#upload-dataset-wrapper {
	text-align: center;
	margin-top: 70px;
}

.upload-dataset-label {
	float:left;
	margin:10px;
	width:225px;
}

.upload-btn {
	float:left;
	height: 35px;
	margin:10px;
}
#upload-users-dataset-wrapper {
	margin-top: 20px;
	text-align: center;
}

/*  search.html css */

#search-top-container {
	margin-top: 200px;
	text-align: center;
}

.inner-container {
	display: inline-block;
}

.datasetlabel {
	float:left;
}

.datasetname {
	margin-left: 10px;
	float:left;	
}

.inputbox {
	margin-top: 30px;
}

#inputbox-container {
	width: 500px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}


#tab-container{
margin: 10px;
}

/* expert-details.html*/

ol {
	list-style-type:none;
}
.expert-details-container {
	margin-top: 5px;
	width:450px;
	height:100px;	
	border-style: solid;
    border-color: #C0C0C0 #C0C0C0;
    float:left;
    clear:both;
    background-image: url("geometry2.png");
    background-repeat: repeat;
}
.expert-interest-container {
	margin-top: 5px;
	margin-left: 15px;
	width:450px;
	height:100px;	
	border-style: solid;
    border-color: #C0C0C0 #C0C0C0;
    float:left;
    background-image: url("geometry2.png");
    background-repeat: repeat;
}

#expert-container {
	text-align: center;
	margin-top: 50px;
}

.expert-list {
	display: inline-block;
}

.username {
	text-align: left;
	margin:5px;
}

.reputation {
	text-align: left;
	margin:5px;
}

.contactinfo {
	text-align: left;
	margin:5px;
}
/*visulaization.html*/

#visulaization_wrapper {
	text-align: center;
}

#sigma-container {
    max-width: 500px;
    height: 500px;
    margin-left: 200px;
  }

/*
.visulaization_container {
	margin-top: 10px;
	width: 700px;
	height: 400px;
	background: #C0C0C0;
	display: inline-block;
}*/

.vis-expert-details {
	display: inline-block;
}

/*evaluation.html*/
.precision-container, .recall-container, .map-container, .rr-container, .ndcg-container, .elevenpt-container {
	margin:10px;
	font-size: 16pt;
}

.elevenpt-graph {
	width:400px;
	height:400px;
	background: #C0C0C0;
}

/*settings.html*/
#settings-table-container {
	text-align: center;
}

.settings-table {
	display: inline-block;
	margin-top: 10px;
}

.slider-label-center {
	text-align: center;
}

.left-label {
	float:left;
}

.right-label {
	float:right;
}

th, td {
    border: 1px solid gray;
    overflow: hidden;
    width: 400px;
    height:80px;
    padding:10px;
    text-align: center;
}

#evaluation-table-container {
	text-align: center;
}

.evaluation-table {
	display: inline-block;
	margin-top: 10px;
}