<div id="search-top-container">
	<div class="inner-container">
		<div class="datasetlabel"><h4>Dataset:</h4></div> 
		<div class="datasetname"><h4>{{dataset.name}}</h4></div>
	</div>
</div>

<div id="inputbox-container">
<div class="inputbox input-group">
	<input type="text" class="form-control" ng-model="query.text" placeholder="Enter your search query here...">
    <span class="input-group-btn">
    	<button class="btn btn-default" type="button" ng-click="handleClick()">Search</button>
    </span>
</div>
</div>